div.center, h4.center, p.center {
    width: 100%;
    text-align: center;
}
.warning {
    font-style: italic;
    color: red;
}
#site-logo {
    color:#e5412d;
}
#top-bar .nav > li > a.active {
    color:#ff5050;
    font-weight: bolder;
}
#top-bar .nav > li > ul > li > a.active {
    color:#ff5050;
    font-weight: bolder;
}
#main-nav > li > a.active, #main-nav .sub-nav > li > a.active, #main-nav .sub-nav > li > a.active > i {
    color:#ff5050;
    font-weight: bolder;
}
/*table#table-Users tr:nth-child(even) {background: #CCC}
table#table-Users tr:nth-child(odd) {background: #FFF}*/
div.my-label {
    font-weight: 600;
    text-align: right;
    border-right: 3px;
    padding-right: 5px;
    padding-left: 5px;
}
div.my-data {
    text-align: left;
    padding-left: 10px;
    padding-right: 2px;
}
#content-container .row.my-row {
    margin-bottom: 0.4em;
    line-height: 1.5;
}
/*Formatting form overdue status of tickets*/
div.my-data.wayOverdue, td.wayOverdue {
    font-weight: 600;
    color: red;
}
div.my-data.overdue, td.overdue {
    font-weight: 400;
    color: orange;
}
div.my-data.dueToday, td.dueToday {
    font-weight: 400;
    color: yellow;
}
div.my-data.dueWeek, td.dueWeek {
    color: green;
}
div.my-data.dueMonth, td.dueMonth {
    color: purple;
}
div.my-data.dueLater, td.dueLater {
    color: darkgray;
}
p.msg {
    color:green;
}
.dashboard-stat .content {
    text-transform: none;
    font-variant: small-caps;
    font-size: 24px;
}
.dashboard-stat .details .value {
    text-align: center;
    font-size: 48px;
    float: none;
}
.portlet-content .hdr {
    font-size: 13px;
    font-variant: small-caps;
    font-weight: 600;
}
.dash-value, hdr-center {
    text-align: center;
}
#content-container .row {
    margin-bottom: 1em;
}