<div id="content">
    <div id="content-header">
        <h1>Utilities</h1>
    </div> <!-- #content-header -->
    <div id="content-container">
        <h3>Import Data into Aardvark</h3>
        <div class="row">
            <div class="col-sm-8">
                <p>
                    You can perform a bulk input of Users, Projects, Developers, and Tickets data into Aardvark.
                </p>
                <p>
                    To begin the process, follow these instructions:
                    <ol>
                        <li>
                            If you click 'Download Template' to download the main template, you may skip to step 5). Otherwise, you can
                            manually copy the data as follows.
                        </li>
                        <li>
                            Copy the Template Data to the
                            clipboard (click the "Show Template Data" button to display
                            the text to select).
                        </li>
                        <li>
                            Paste the data into a text editor,
                            such as Notepad or Notepad++. Save the file as a text file.
                        </li>
                        <li>
                            Open the file you created above with Excel. Excel's Text Import Wizard
                            will display; make sure the Delimited button is selected, then click Finish.
                        </li>
                        <li>
                            Please read the instructions in the template that follow the sample data rows.
                        </li>
                        <li>
                            Resize columns as desired. The template
                            includes "dummy data" (which you can remove or overwrite) showing 
                            the proper format for the data. Enter your
                            data for Users, Projects, ProjectDevelopers, and Tickets.
                        </li>
                    </ol>
                </p>
                <p>

                </p>
                <p>

                </p>
                <p>
                    When your data template is ready:
                    <ol>
                        <li>
                            Save your spreadsheet as a normal spreadsheet file. 
                        </li>
                        <li>
                            Then, select Save As to also save it as a Text (Tab-delimited) file.  
                            NOTE: The format must be Tab-delimited, not Comma-delimited; otherwise, it won't work.
                        </li>
                        <li>
                            Open the tab-delimited file with a text editor (Notepad works fine). Select all the data, copy to the
                            clipboard, then paste it into the 'Import Data' text box in the Utilities/ImportData screen. 
                        </li>
                        <li>
                            Click 'Import Data' to start the import process.
                        </li>
                    </ol>
                </p>
                <p>
                    When completed, the Logs file will contain information on each imported
                    item.
                </p>
                @if (ViewBag.Msg == "")
                {
                    <br />
                    <button type="button" id="TemplateBtn" class="btn btn-secondary" onclick="ShowData()">Show Template Data</button>
                    <text>&nbsp; or &nbsp;</text>
                    @Html.ActionLink("Download Template (Excel spreadsheet)", "DownloadTemplate", null, new { @class = "btn btn-secondary" });
                }
            </div>
        </div>
        @if (ViewBag.Msg != "")
        {
            <br />
            <h4>
                <p>
                    Import process has completed.
                </p>
                <p>
                    @ViewBag.Msg
                </p>
                <p>
                    Check the Logs table for more detailed information.
                </p>
            </h4>
            <br />
        }
        else
        {
            <br />
            <br />
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row" id="InputData">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <br />
                            <input type="submit" value="Import Data ==>" class="btn btn-primary" />
                        </div>
                        <div class="col-sm-10">
                            @Html.TextArea("DataToImport", null, 5, 90, new { style = "max-width:none;" })
                        </div>
                    </div>
                </div>
            }
            <div class="row hidden" id="TemplateData" name="TemplateData">
                <div class="col-sm-12">
                    <h4>Select and copy the data below</h4>
                    <br />
                    <pre>
; Template to use for importing data into Aardvark -- instructions below												
; Last updated:	8/29/15 11:35 PM											
;												
#Users												
FirstName	LastName	UserName	DisplayName	SkillLevel	Email	Phone	RoleAdmin	RoleProjectManager	RoleDeveloper	RoleSubmitter	RoleGuest	
James	Johnson	Jimmy	Jimmy	Junior	Jimmy@me.com	123.456.7890	Y		Y			
Bob	Thomas	Bob	Bob	Mid-Level	Bob@me.com	333-444-5555			Y			
John	Doe	John	JD		John@me.com	(987) 654-3210		Y				
Patty	Whack	Patty the Wackiest	Patty	Senior	Patty.Whack@ThisOldMan.com			Y				
Sue	Jones	Sue	Sue	Senior	Sue@me.com					Y		
Kermit	The Frog	Kirmy			KermitTheFrog@me.com							
Joe	LeDev	Joe	Joe	Senior	Joe@me.com				Y			
; Add additional rows as needed												
; Add additional rows as needed												
;												
#Projects												
ProjectName	Description	ProjectManagerUserName										
Main Product	"Our main focus, #1"	Patty the Wackiest										
Second Product	Makes us more money	John										
Our Best Product By Far!	This will make us billions!	John										
; Add additional rows as needed												
; Add additional rows as needed												
;												
#ProjectDevelopers												
ProjectName	Description	DeveloperUserName										
Main Product	"Our main focus, #1"	Patty the Wackiest										
Main Product	"Our main focus, #1"	Bob										
Second Product	Makes us more money	Bob										
; Add additional rows as needed												
; Add additional rows as needed												
;												
#Tickets												
Title	Description	DateCreated	ProjectName	ProjectDescription	TicketCreatorUserName	AssignedDeveloperUserName	DueDate	HoursToComplete	TicketType	TicketPriority	TicketStatus	SkillRequired
Just an idea	Several customers keep mentioning this	8/12/2015 8:00am	Main Product	"Our main focus, #1"	Sue	Bob	9/30/2015	5	en	Desirable	Deferred	Mid-Level
Screen flickers	"When entering invoices, the screen keeps flickering"	7/31/2015	Main Product	"Our main focus, #1"	Patty the Wackiest		8/31/2015	2	Bug	Essential	New	Junior
BSOD	"Every third time I click ""Save"", the computer crashes"	8/11/2015 3:13pm	Second Product	Makes us more money	Sue	Joe	8/13/2015	10	Bug	SevereDataLoss	AssignedToDev	Senior
Just another idea	Several customers keep mentioning this	8/12/2015 8:00am	Main Product	"Our main focus, #1"	Sue	Bob	9/30/2015	5	en	Desirable	Deferred	Mid-Level
Screen flickers still!	"When entering invoices, the screen keeps flickering"	7/31/2015	Main Product	"Our main focus, #1"	Patty the Wackiest	Jimmy	8/31/2015	2	Bug	Essential	New	Junior
BSOD worse	"Every third time I click ""Save"", the computer crashes"	8/11/2015 3:13pm	Second Product	Makes us more money	Sue		8/13/2015	10	Bug	SevereDataLoss	AssignedToDev	Senior
Annoying sounds louder	Chirps quite loudly	7/16/2015	Main Product	"Our main focus, #1"	Sue	Bob	8/31/2015	1	Bug	Desirable	New	Junior
Just an idea - 2	Several customers keep mentioning this	8/12/2015 8:00am	Main Product	"Our main focus, #1"	Sue	Bob	9/30/2015	5	en	Desirable	Deferred	Mid-Level
Screen flickers - 2	"When entering invoices, the screen keeps flickering"	7/31/2015	Main Product	"Our main focus, #1"	Patty the Wackiest	Jimmy	8/31/2015	2	Bug	Essential	New	Junior
BSOD - 2	"Every third time I click ""Save"", the computer crashes"	8/11/2015 3:13pm	Second Product	Makes us more money	Sue		8/13/2015	10	Bug	SevereDataLoss	AssignedToDev	Senior
Just another idea - 2	Several customers keep mentioning this	8/12/2015 8:00am	Main Product	"Our main focus, #1"	Sue	Bob	9/30/2015	5	en	Desirable	Deferred	Mid-Level
Screen flickers still! - 2	"When entering invoices, the screen keeps flickering"	7/31/2015	Main Product	"Our main focus, #1"	Patty the Wackiest	Joe	8/31/2015	2	Bug	Essential	New	Junior
BSOD worse - 2	"Every third time I click ""Save"", the computer crashes"	8/11/2015 3:13pm	Second Product	Makes us more money	Sue		8/13/2015	10	Bug	SevereDataLoss	AssignedToDev	Senior
Annoying sounds louder - 2	Chirps quite loudly	7/16/2015	Main Product	"Our main focus, #1"	Sue	Bob	8/31/2015	1	Bug	Desirable	AssignedToDev	Junior
Just an idea - even more	Several customers keep mentioning this	8/12/2015 8:00am	Main Product	"Our main focus, #1"	Sue	Bob	9/30/2015	5	en	Desirable	Deferred	Mid-Level
Screen flickers - even more	"When entering invoices, the screen keeps flickering"	7/31/2015	Main Product	"Our main focus, #1"	Patty the Wackiest	Jimmy	8/31/2015	2	Bug	Essential	AssignedToDev	Junior
BSOD - even more	"Every third time I click ""Save"", the computer crashes"	8/11/2015 3:13pm	Second Product	Makes us more money	Sue		8/13/2015	10	Bug	SevereDataLoss	AssignedToDev	Senior
Just another idea - even more	Several customers keep mentioning this	8/12/2015 8:00am	Main Product	"Our main focus, #1"	Sue	Bob	9/30/2015	5	en	Desirable	Deferred	Mid-Level
Screen flickers still! - even more	"When entering invoices, the screen keeps flickering"	7/31/2015	Main Product	"Our main focus, #1"	Patty the Wackiest	Jimmy	8/31/2015	2	Bug	Essential	AssignedToDev	Junior
BSOD worse - even more	"Every third time I click ""Save"", the computer crashes"	8/11/2015 3:13pm	Second Product	Makes us more money	Sue	Jimmy	8/13/2015	10	Bug	SevereDataLoss	AssignedToDev	Senior
Annoying sounds louder - even more	Chirps quite loudly	7/16/2015	Main Product	"Our main focus, #1"	Sue	Bob	8/31/2015	1	Bug	Desirable	AssignedToDev	Junior
; Add additional rows as needed												
; Add additional rows as needed												
;												
; The #End tag must appear at the end of data												
#End												
;												
; INSTRUCTIONS FOR IMPORTING DATA INTO AARDVARK												
;												
"; This document allows you to quickly input Users, Projects, and Tickets information into Aardvark"												
; in a bulk operation. Of course you can still enter and/or edit this information one record at a time												
; as needed.												
;												
; Note that the information you enter is case-sensitive. The system will ensure that duplicate												
; information is not entered; it will reject entries that already exist. Default values will be entered												
; as explained below. Please to not use any double quotes in any column.												
;												
"; You will note that any line starting with a semi-colon will be skipped, treated as a comment. This"												
"; allows you to easily ""comment out"" a line within a section, if needed (these instruction lines are "												
"; commented out). The following sections are available: #Users, #Projects, #ProjectDevelopers, "												
"; and #Tickets. There is ""dummy"" information that shows the proper format; this can be edited and/or"												
";  removed as needed. You can enter as many new rows as you like. If there are any errors, appropriate"												
; messages will be added to the Log file.												
;												
; Please do not change the sequence of the sections below. You need not use all of them; you can												
"; comment them out, or remove them, if desired. You can use as many rows as needed for each"												
"; section. Please do not modify or remove any headings. It may still work, but it is preferred to leave"												
; the column blank if the information in that field is unknown or not needed. Each section starts with												
"; the # sign before the section name, and is followed by a row listing the column headings."												
;												
; The sample data below shows how to enter valid data. You can modify or delete the information												
; in the sections and replace it with your own custom data.												
;												
"; After making your changes, save this as a normal spreadsheet file. Then, select Save As to also save"												
"; it as a Text (Tab-delimited) file.  NOTE: The format must be Tab-delimited, not Comma-delimited; "												
"; otherwise, it won't work. "												
												
"; Open the tab-delimited file with a text editor (Notepad is fine). Select all the data, copy to the"												
"; clipboard,  then paste it into the text box in the Home/Utilities/Import screen. Click Import when"												
"; ready.  When the import is finished, the Logs file will then contain complete information on the"												
; import results.												
;												
;												
; The #Users Section												
;												
; Each User must have a unique UserName -- will be skipped over if already in database.												
; DisplayName optional -- will default to UserName if blank.												
"; All input fields are stored exactly as entered (no double quotes allows, though)."												
"; There are three possible skill levels: Junior, Mid-Level, or Senior. Junior is default if no other value"												
"; There are five possible roles: Admin, ProjectManager, Developer, Submitter, and Guest."												
; Put Y in role column if User is to have that role; multiple roles are permitted.												
"; Normally there is only one Admin, but multiple Admins are allowed."												
;												
; The #Projects Section												
												
; Each ProjectName must be unique -- spaces and other punctuation (except for double quotes) in the name are allowed												
; Description can be as long as desired												
; Each Project must have a ProjectManagerUserName -- this must be a UserName having a role of ProjectManager												
; The same ProjectManagerUserName can be used on multiple projects												
; A Project can occur only once in this section (with only one ProjectManagerUserName).												
;												
; The #ProjectDevelopers Section												
												
; ProjectName and Description must be an exact match for a ProjectName/Description of a Project in												
;the database (or listed above -- which means it will have just been inserted into the database).												
; DeveloperUserName is required and must be a UserName having a role of Developer. The same												
; DeveloperUserName can be listed for multiple Projects.												
; A Project can occur multiple times in this section (this allows more than one DeveloperUserName												
"; to be listed). Each time the same Project is listed, its Name and Description must be repeated exactly"												
; the same.												
;												
; The #Tickets Section												
												
"; The Title and Description columns are required, but need not be unique"												
"; However, there should not be more than one ticket having the same Title, Description, and ProjectName."												
"; If ProjectName is included, it must be the name of a Project in the database (or listed above)."												
"; ProjectDescription is also required to uniquely identify the Project this belongs to; if no match, no Project will be specified"												
"; DateCreated is optional - if entered, it should be in the format 12/31/2015 2:34pm."												
; TicketCreatorUserName is the UserName of the person who created the ticket (default: the name of the curret user inputting this data).												
; AssignedDeveloperUserName is the UserName of the Developer assigned to this ticket; can be ommitted.												
; DueDate is the due date for this ticket -- default is tomorrow.												
; HoursToComplete is the estimated number of work hours to complete this ticket.												
"; TicketType: one of Bug, Enhancement, or Unknown."												
"; TicketPrirority: one of 'Optional', 'Desirable', 'Essential', 'Critical', 'SevereDataLoss', or 'Showstopper'"												
"; TicketStatus: one of 'New', 'Unable to Reproduce', 'Deferred', 'ReadyToAssign', 'AssignedToDev', 'InDevelopment', 'ReadyToTest', 'AssignedToTester', 'InTesting', 'ReadyToReview', or 'Resolved'"												
"; SkillRequired: one of 'Junior', 'Mid-Level', or 'Senior'"												
</pre>
                    <h4>Select and copy the data above</h4>
                </div>
            </div>
        }
    </div>
</div>
<script>
    function ShowData() {
        $("#TemplateData").toggleClass("hidden");
        if ($("#TemplateData").hasClass("hidden")) {
            $("#TemplateBtn").text("Show Template Data")
        }
        else {
            $("#TemplateBtn").text("Hide Template Data")
        }
    }
</script>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#sidebar-Utilities').addClass('active');
            $('#sidebar-Utilities-Import').addClass('active');
        });
    </script>
}
