@model Aardvark.Models.Project
@{
    ViewBag.Title = "ProjectPostError";
}
@using Aardvark.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <div id="content-header">
        <h1>Projects</h1>
    </div> <!-- #content-header -->
    <div id="content-container">
        <h3>ProjectPostError</h3>
        <br />
        <h3>An unexpected error occured while processing the previous POST. No changes were made.</h3>
        <br />
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-sm-offset-5 col-sm-1">
                    @Html.ActionLink("Return to Index", "Index", null, new { @class = "btn btn-warning" })
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#sidebar-Projects').addClass('active');
        });
    </script>
}
