@model Aardvark.ViewModels.SelectRole
@{
    ViewBag.Title = "SelectRole";
    
    //// To render with no layout at all, set Layout to emptry string like this:
    //Layout = "";
}

<h2>SelectRole</h2>
From one of: @Model.Roles