@{
    ViewBag.Title = "About Aardvark";
}
<div class="container">
    <h2>@ViewBag.Title</h2>

    <div class="row">
        <div class="col-sm-12 center">
            <img src="http://www.enchantedlearning.com/agifs/Aardvark_bw.GIF" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <h2>
                Aardvark uses its sharp claws and powerful muscles to dig out bugs from wherever they are trying to hide... and gets rid of them!
            </h2>
        </div>
    </div>
    <br />
    <br />
    <h4>
        See what <a href="https://en.wikipedia.org/wiki/Aardvark">wiki has to say</a>!
    </h4>
</div>